<div class="group-tags-input">
  <div class="group-tags-input__tags">
    {{#each this.tags as |tag|}}
      <span class="group-tag">
        {{tag}}
        <button class="remove-tag" {{on "click" (fn this.removeTag tag)}}>
          {{d-icon "xmark"}}
        </button>
      </span>
    {{/each}}
    </div>
  <Input
    @value={{this.newTag}}
    @placeholder={{i18n "admin.groups.custom_tags_placeholder"}}
    class="tag-input"
    {{on "keydown" this.handleKeyDown}}
  />
  <div class="existing-tags">
    <p>Add an existing tag:</p>
    {{#each this.allTags.discourse_group_tags as |existing|}}
      <button type="button" class="existing-tag" {{on "click" (fn this.addExistingTag existing)}}>
        {{existing}}
      </button>
    {{/each}}
  </div>
</div>
